version: '3.8'

services:
  web:
    build: .
    container_name: guvi_app
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - mysql

  mysql:
    image: mysql:8
    container_name: guvi_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: lekhan2005
      MYSQL_DATABASE: guvi
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
